/*Variables comunes*/

:root{
  --color-principal:#0EAB65;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: url(../Imagenes/Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

/*Estilos del Menu Principal*/

.menu-principal{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  z-index: 1;
  transition: all 1s;
}

.nombre {
  visibility: hidden;
}

.black .nombre{

  width: 20%;
  height: 50px;
  margin-top: 25px;
  visibility: visible;
}

.black .nombre h2{
  font-size: 4vh;
  color: #fff;
}

.black{
  background: #000;
  opacity: 0.8;
}

.menu-navegacion .enlaces ul li{
  display: inline-block;
  padding: 0px 25px;
}

.menu-navegacion .enlaces ul li a{
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  color: rgb(158, 158, 158);
  cursor: pointer;
  background: linear-gradient(#0EAB65, #0EAB65);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.5s;
}

.menu-navegacion .enlaces ul li a:hover{
  color: #fff;
  background-size: 50% 2px;
}

.menu-principal i{
  cursor: pointer;
  color: rgb(158, 158, 158);
  font-size: 30px;
  float: right;
  transition: all 0.5s;
  display: none;
}

.menu-principal i:hover{
color: var(--color-principal);
}



/*Estilos de la seccion Home*/

#Home .contenedor-home{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
 
.info{
  position: absolute;
  top: 600px;
  left: 150px;
  width: 800px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.info h1{
  color: white;
  font-size: 80px;
}

.info h2{
  color: white;
  font-size: 30px;
  font-weight: 10;
}

.redes-sociales{
  margin-top: 30px;
}


.redes-sociales a{
  display: inline-block;
  color: white;
  width: 40px;
  height: 40px;
  background: var(--color-principal);
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.5s;
  margin-left: 10px;
}

.redes-sociales a:hover{
  background: transparent;
  color: var(--color-principal);
  transform: scale(2);
}

.Subrayado{
  position: absolute;
  top: 740px;
  left: 257px;
  width: 245px;
  border-bottom: 1px solid var(--color-principal);
}


/*Estilos de la seccion Proyectos*/

#Proyectos .contenedor-proyectos{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegando{
  background: #000;
  opacity: 0.8;
  height: 50px;
}

.biblioteca{
  width: 95%;
  height: 85%;
  margin-top: 40px;
  background: #000;
  opacity: 0.8;
  z-index: 0;
}

/*Estilos de la seccion Contacto*/

#contacto .contenedor-contacto{
  height: 100vh;
}



@media screen and (max-width: 800px) {

  /*MENU DE NAVEGACION*/

  .menu-navegacion{
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background: black;
    opacity: 0.8;
    transition: all 1s;
    transform: translatex(100%);
  }

  .menu-principal i{
    display: block;
  }

  .menu-navegacion.active{
    transform: translatex(0%);

    
  }

  .menu-navegacion .enlaces{
    margin-top: 50%;
  }

  .menu-navegacion .enlaces ul li{
    display: block;
    padding: 20px 10px;
    text-align: center;
  }

  .menu-navegacion i{
    position: absolute;
    top: 50px;
    right: 50px;
  }

  /*SECCION DE HOME*/

  .info{
    position: absolute;
    top: 800px;
    left: 100px;
  }

  .Subrayado{
    position: absolute;
    top: 937px;
    left: 257px;
    width: 245px;
    border-bottom: 1px solid var(--color-principal);
  }

}

@media screen and (max-width: 1366px) {

  /*SECCION DE HOME*/

  .info{
    top: 300px;
    left: 150px;
    width: 800px;
    height: 250px;
  }

  .info h1{
    font-size: 60px;
  }

  .info h2{
    font-size: 20px;
  }

  .Subrayado{
    top: 395px;
    left: 218px;
    width: 167px;
  }

  img{
    height: auto;
    width: auto;
    max-width: 650px;
    max-height: 650px;
    position: absolute;
    top: 0px;
    left: 900px;
    position: fixed;
  }




}













