<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/estilos.css">
  <script src="https://kit.fontawesome.com/f014054ec6.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>
  <body>

    <!--MENU PRINCIPAL -->

    <div class="menu-principal" id="menuPrincipal">

      <div class="nombre">
        <h2>Juan Fernandez</h2>
      </div>

      <div class="menu-navegacion" id="menu-navegacion">

        <i class="fas fa-angle-right" id="btnMenuClose"></i>

        <nav class="enlaces" id="enlaces">
          <ul>
            <li id="home"><a href=#Home>Home</a></li>
            <li><a href=>Sobre mi</a></li>
            <li><a href=>Habilidades</a></li>
            <li id="proyectos"><a href=#Proyectos>Proyectos</a></li>
            <li id="contacto"><a href=#Contacto>Contacto</a></li>
          </ul>
        </nav>
      </div>

      <i class="fas fa-bars" id="btnMenuOpen"></i>

    </div>

    <!--SECCION DE HOME -->

    <section id="Home">

      <div class="contenedor-home">
        <div class="info">

          <h1>Juan Fernandez</h1>
          <h2>Soy un Desarrollador Web apasionado </h2>
          <div class="Subrayado"></div>
    
          <div class="redes-sociales">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-linkedin"></span></a>
          </div>
    
        </div>

       <img class="img-perfil" src="..//Imagenes/Imagen-perfil.png" alt="">
    
      </div>
      


    </section>

    <!--SECCION DE PROYECTOS -->

    <section id="Proyectos">

      <div class="contenedor-proyectos">

        <div class="biblioteca">
          <!--
          <div class="contenedor-tarjeta">
            <figure>
              <img class="frontal" src="../Imagenes/Tarjetas de Proyectos/Aves-Card.png" alt="">
              <figcaption class="trasera">
                <h2>Aves</h2>
                <p>Proyecto obligatorio presentado como requisito de la materia Progrmacion 2 en facultad Ort Uruguay.
                  El proyecto  </p>
              </figcaption>
            </figure>
          </div>
          -->
          <a  class="proyecto" href="#">
            <div class="about">
              <div>
                <img src="..//Imagenes/Tarjetas de Proyectos/Aves-card.png" alt="">
              </div>
              <h2>Aves</h2>
              <div class="separador"></div>
              <p>Proyecto realizado en Java como requisito de la materia Progrmacion 2.</p>
            </div>
          </a>

          <a  class="proyecto" href="#">
            <div class="about">
              <div>
                <img src="..//Imagenes/Tarjetas de Proyectos/PcBuilders-card.png" alt="">
              </div>
              <h2>PcBuilders</h2>
              <div class="separador"></div>
              <p>Pagina web realizada como proyecto para curso de Udemy</p>
            </div>
          </a>

        </div>

      </div>

    </section>


    <!--SECCION DE CONTACTO -->

    <section id="Contacto">
      <div class="contenedor-contacto">


        <div class="contenido">

          <div class="encabezado">
            <div class="text1">
              <h2>CONTACT</h2>
              <div class="linea"></div>
            </div>
            <div class="text2">
              <h1>CONTACT ME</h1>
            </div>
          </div>

          <div class="information">
            <div class="address">
              <a href=""></a>
              <h2>My Address</h2>
              <h3>Ellauri 690, Punta Carretas, Montevideo</h3>
            </div>
            <div class="social"></div>
            <div class="email"></div>
            <div class="phone"></div>
          </div>

        </div>


      </div>
    </section>


    <script src="../JS/app.js"></script>
  </body>

</html>