<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/estilos.css">
  <script src="https://kit.fontawesome.com/f014054ec6.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>
  <body>

    <div class="menu-principal">

      <div class="menu-navegacion" id="menu-navegacion">

        <i class="fas fa-angle-right" id="btnMenuClose"></i>

        <nav class="enlaces" id="enlaces">
          <ul>
            <li><a href=#Home>Home</a></li>
            <li><a href=>Sobre mi</a></li>
            <li><a href=>Habilidades</a></li>
            <li><a href=>Proyectos</a></li>
            <li><a href=#contacto>Contacto</a></li>
          </ul>
        </nav>
      </div>

      <i class="fas fa-bars" id="btnMenuOpen"></i>

    </div>

    <!--SECCION DE HOME -->

    <section id="Home">

      <div class="contenedor-home">
        <div class="info">

          <h1>Juan Fernandez</h1>
          <h2>Soy un Desarrollador Web apasionado </h2>
    
          <div class="redes-sociales">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-linkedin"></span></a>
          </div>
    
        </div>
    
        <div class="Subrayado"></div>
    
      </div>


    </section>

    <!--SECCION DE CONTACTO -->

    <section id="contacto">
      <div class="contenedor-contacto">
      </div>
    </section>


    <script src="../JS/app.js"></script>
  </body>

</html>